			body{
				display:flex;
				flex-direction: column;
				padding: 0px;
				margin: 0px;
			}
			@font-face{
				font-family:"machinemedium";
				src: url("assets/fuentes/ITC\ Machine\ Medium.otf")
			}
			@font-face {
				font-family: "trumpgothic";
				src: url("assets/fuentes/TrumpGothicPro-Bold.ttf");
			}
			@font-face {
				font-family: "verdana";
				src: url("assets/fuentes/verdana-bold.ttf");
			}
			/*---------------------- HEADER --------------------*/
			
			header{
				min-height: 100px;
				font-size: 100px;
				color:red;
				background-color: black;
				font-family: "machinemedium";
				display:flex;
				justify-content: space-around;
				align-items: center;
			}
			
			/*---------------------- MAIN y SECCIONES --------------------*/
			main{
				background-color:#EEEEFF;
				color:black;
			}
			section{
				min-height: 200px;
				border: 1px solid black;
			}
			
			/*---------------------- NAV y botones --------------------*/
			nav{
				font-size: 30px;
				min-height: 50px;
				font-family: "trumpgothic";
				background-image: url("assets/fondonav.jpg");
				background-color: grey;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}
			.boton{
				margin:5px;
				color:white;
			}
			.boton a{
				color:white;
			}
			
			/*-------------- PRESENTACION: foto y texto -----------------*/
			#presentacion{
				font-family: "machinemedium";
				display: flex;
				flex-flow: row;
			}
			#foto{
				background-image: url("assets/Max-Payne.jpg");
				width: 50%;
				min-height: 50%;
				min-height: 450px;
				color: red;
				background-size:cover;
				background-position: center;
	
			}
			#text{
				width: 50%;
				font-family: "verdana";
				color: white;
				background-color: black;
				justify-content: center;

			}
			
			/*------------------ PORTAFOLIO: fotos ----------------------*/
			#portafolio div{
				background-color: black;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
				align-items: center;

			}
			.fotos img{
				padding: 5px;
				max-width: 400px;
				min-width: 200px;
				max-height: 400px;
				min-width: 200px;
			}
			
			
			/*---------------------- CONTACTO --------------------*/
			#contacto form{
				width:100%;
				padding: 1px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				justify-content: center;
			}
			div~div{
				font-family: "trumpgothic";
				color:white;
				padding: 5px;
			}
			#contacto{
				min-height: 300px;
				max-height: 400px;
				background-image: url(assets/fondo.jpg);
				background-size:cover;
				background-position: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}


			#form1{
				display: flex;
				flex-direction: column;
			}

			
			#form2{
				height: 100px;
				width: 200px;

			}
			#form3{
				align-self: center;


			}

			/*---------------------- FOOTER --------------------*/
			footer{
				background-color: black;
				height: 80px;
				bottom: 0px;
				width: 100%;
				color: white;
				display: flex;
				position: sticky;
			}
			footer div{
				margin:5px;
			}
			#copy{
				margin: 0 auto;
				align-self: center;
			}
			
			.card {
				width: fit-content;
				height: fit-content;
				background-color: black;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
			}
			
			/* for all social containers*/
			.socialContainer {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: rgb(44, 44, 44);
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				transition-duration: .3s;
			}
			/* instagram*/
			.containerOne:hover {
				background-color: #d62976;
				transition-duration: .3s;
			}
			/* twitter*/
			.containerTwo:hover {
				background-color: #00acee;
				transition-duration: .3s;
			}
			/* linkdin*/
			.containerThree:hover {
				background-color: #0072b1;
				transition-duration: .3s;
			}
			/* Whatsapp*/
			.containerFour:hover {
				background-color: #128C7E;
				transition-duration: .3s;
			}
			
			.socialContainer:active {
				transform: scale(0.9);
				transition-duration: .3s;
			}
			
			.socialSvg {
				width: 17px;
			}
			
			.socialSvg path {
				fill: rgb(255, 255, 255);
			}
			
			.socialContainer:hover .socialSvg {
				animation: slide-in-top 0.3s both;
			}
			
			@keyframes slide-in-top {
				0% {
			transform: translateY(-50px);
			opacity: 0;
				}
			
				100% {
			transform: translateY(0);
			opacity: 1;
				}
			}
			/*
				NOTA: si metemos a todos los hijos en una clase: "iconos" por ej.
				Los sucesivos hijos seran:  .iconos:nth-child(1), ...(2), ...etc
			*/